body {
	background-color: #ffffff;
	margin:0px 40px 40px 40px;
}

.page {
position: relative;
width:960px;
margin: 0 auto;
clear:both;
box-shadow: 5px -5px 10px rgba(0,0,0,0.1);
}

.headerdiv {
float:left;
height:90px;
width:960px;
margin: 0 auto;
clear:both;
}

.logo {
width:280px;
}


.play-button {
	background-color: #08f;
	color: #FFF;
	padding: 20px 40px;
	font-size: 24px;
	cursor: pointer;
	margin: 20px 0;  /* padding above and below */
	border: none;
	border-radius: 5px;
	display: inline-block;
}

.control-buttons {
	text-align: center;
	margin-bottom: 30px;
}

.bodydiv {
	float:left;
	width:100%;
	margin: 0 auto;
	background-color: #ffffff;
}

.footer {
	float:left;
	width:98%;
	margin: 0 auto;
	background-color: #3080b4;
	border:0px solid #000000;
	color: #ffffff;
	padding: 10px 10px 10px 10px;
}

a:link {color:#000088; text-decoration: none;}     /* unvisited link  */
a:visited {color:#440088; text-decoration: none;}  /* visited link    */
a:hover {color:#3080b4; text-decoration: none;}    /* mouse over link */
a:active {color:#000000; text-decoration: none;}   /* selected link   */

.navlong a:hover {color:#ffffff; text-decoration: none;}

AudioControls {
	justify-content: center;
}

p {color:#000040;
	font-family: "Libre Franklin",sans-serif;
	padding: 0px 0px 0px 0px;
}

h1 {color:#000000;
	font-family: "Libre Franklin",sans-serif;
	font-size: 1.4em;
	font-weight: 600;
	margin:5;
	padding:0;
}

h5 {color:#000000;
	font-family: "Libre Franklin",sans-serif;
	font-size: 1.4em;
	font-weight: 900;
	margin:5;
	padding:0;
}

h2 {color:#000000;
	font-family: "Libre Franklin",sans-serif;
	font-size: 1.4em;
	font-weight: 700;
	margin:5;
	padding:0;
}

h3 {color:#000000;
	font-family: "Libre Franklin",sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin:5;
	padding:0;
}

#title {color:#000000;
	font-family: "Libre Franklin",sans-serif;
	font-size: 2em;
	font-weight: 100;
	margin:0;
	padding:0;
}

#description {color:#000000;
	font-family: "Libre Franklin",sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin:0;
	padding:0;
}
</style>
