body {
	background-color: #eeeeee; /* 8dd6ff 3080b4*/
	margin:0px 40px 40px 40px;
}

.page {
position: relative;
width:960px;
margin: 0 auto;
clear:both;
box-shadow: 5px -5px 10px rgba(0,0,0,0.1);
}

.headerdiv {
float:left;
height:90px;
width:960px;
margin: 0 auto;
clear:both;
}

.logo {
width:280px;

}

.navigation {
position: relative; left:0px; top:0px;
float:left;
height:90;
width:100%;
background-color: #eeeeee;
margin: 0 auto;
font-family:"Sans-serif",Helvetica;
font-size:1.2em;
}

.navsci {background-color: #6cbf4a;}
.navaye {background-color: #d6005e;}
.naveye {background-color: #6ac7d6;}
.navvid {background-color: #f5c06c;}

.navslice {
float:left;
margin: 0 auto;
height:90px;
width:960px;
position:absolute; left:0px; top:0px;
}

.bodydiv {
  float:left;
  width:100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.gallerybig {
  float:left;
  background-color: #ffffff;
  margin: 50px 0px 0px 50px;
  z-index:1;
  border:1px solid #000000;
}

.gallerybigtag {
  float:left;
  width:350px;
  margin: 50px 0px 0px 10px;
}

.bigpic {
border:0;
}

.footer {
float:left;
width:98%;
margin: 0 auto;
background-color: #3080b4;
border:0px solid #000000;
color: #ffffff;
padding: 10px 10px 10px 10px;
}

a:link {color:#000088; text-decoration: none;}     /* unvisited link  */
a:visited {color:#440088; text-decoration: none;}  /* visited link    */
a:hover {color:#3080b4; text-decoration: none;}    /* mouse over link */
a:active {color:#000000; text-decoration: none;}   /* selected link   */

.navlong a:hover {color:#ffffff; text-decoration: none;}

p {color:#000040;
font-family: "Libre Franklin",sans-serif;
padding: 0px 0px 0px 0px;
}

h1 {color:#000000;
font-family: "Libre Franklin",sans-serif;
font-size: 1.4em;
font-weight: 300;
margin:5;
padding:0;
}

h5 {color:#000000;
font-family: "Libre Franklin",sans-serif;
font-size: 1.4em;
font-weight: 900;
margin:5;
padding:0;
}

h2 {color:#000000;
font-family: "Libre Franklin",sans-serif;
font-size: 1.4em;
font-weight: 700;
margin:5;
padding:0;
}

h3 {color:#000000;
font-family: "Libre Franklin",sans-serif;
font-size: 1em;
font-weight: 300;
margin:5;
padding:0;
}

#title {color:#000000;
font-family: "Libre Franklin",sans-serif;
font-size: 2em;
font-weight: 100;
margin:0;
padding:0;
}

#description {color:#000000;
font-family: "Libre Franklin",sans-serif;
font-size: 1em;
font-weight: 300;
margin:0;
padding:0;
}

#poem {color:#000000;
font-family: "Libre Franklin",sans-serif;
font-size: 1em;
font-weight: 300;
margin:0;
padding:0;
line-height:200%;
}

#tags {color:#000000;
font-family: "Libre Franklin",sans-serif;
font-style: italic;
font-size: 1em;
font-weight: 300;
margin:8px 0px 0px 0px;
padding:0;
}

.navexplan p {
color:#000000;
text-shadow: 0 0 1.0em #ffffff;
font-family: "Libre Franklin",sans-serif;
font-size: .75em;
font-weight: 700;
margin:5;
padding:0;
}
</style>
