body {
	background-image:url('sky2.jpg');
	background-repeat:repeat-x;
	background-color: #eeeeee; /* 8dd6ff 3080b4*/
	margin:0px 40px 40px 40px;
}

.page {
position: relative;
width:960px;
margin: 0 auto;
clear:both;
box-shadow: 5px -5px 10px rgba(0,0,0,0.1);
}

.headerdiv {
float:left;
height:90px;
width:960px;
margin: 0 auto;
clear:both;
}

.logo {
width:280px;

}

.navigation {
position: relative; left:0px; top:0px;
float:left;
height:90;
width:100%;
background-color: #eeeeee;
margin: 0 auto;
font-family:"Sans-serif",Helvetica;
font-size:1.2em;
}

.navsci {background-color: #6cbf4a;}
.navaye {background-color: #d6005e;}
.naveye {background-color: #6ac7d6;}
.navvid {background-color: #f5c06c;}

.navslice {
float:left;
margin: 0 auto;
height:90px;
width:960px;
position:absolute; left:0px; top:0px;
}

.navlong {
float:left;
margin: 0 auto;
height:90px;
width:820;
position: relative; left:140px; top:0px;
font-family: 'Lato', sans-serif;
font-size: 1em;
font-weight: 300;
}

.navicon-sci {height:90px; position:absolute; left:-32px; top:0px; z-index:1;}
.navicon-aye {width:90px;  position:absolute; left:0px; top:-36px; z-index:1;}
.navicon-eye {height:90px; position:absolute; left:45px; top:0px; z-index:1;}
.navicon-vid {width:90px;  position:absolute; left:0px; top:45px;z-index:1;}

.navicon-sci:hover, .navicon-sci-on {height:90px; position:absolute; left:-42px; top:0px; z-index:2;}
.navicon-aye:hover, .navicon-aye-on {width:90px;  position:absolute; left:0px; top:-46px; z-index:2;}
.navicon-eye:hover, .navicon-eye-on {height:90px; position:absolute; left:55px; top:0px; z-index:2;}
.navicon-vid:hover, .navicon-vid-on {width:90px;  position:absolute; left:0px; top:55px; z-index:2;}

.navicon {width:32; vertical-align:middle; padding: 0px 5px 0px 30px;}

.triangle {width:32; vertical-align:bottom; padding: 0px 5px 0px 8px; position: relative; left:180px; top:-16px;}

.navbutton {
float:left;
width:140px;
background-color: #F2A088;
opacity:1.0;
padding: 10px 10px 10px 10px;
border-radius: 0px 0px 0px 0px;
/*box-shadow: inset 5px -5px 10px rgba(0,0,0,0.1);*/
}

.navbutton:hover, .navbuttoncurrent:hover {background-color: #c1deea;}


.navbuttoncurrent {
float:left;
width:140px;
background-color: #ffffff;
padding: 10px 10px 10px 10px;
border-radius: 0px 0px 0px 0px;
}

.navexplan {width:600px;  position:absolute; left:100px; top:-40px; z-index:2;}

.currentpage {background-color: #6cbf4a; }


.bodydiv {
  float:left;
  width:100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.gallerybig {
  float:left;
  background-color: #ffffff;
  margin: 50px 0px 0px 50px;
  z-index:1;
  border:1px solid #000000;
}

.gallerybigtag {
  float:left;
  width:350px;
  margin: 50px 0px 0px 10px;
}

.bigpic {
border:0;
}

.footer {
float:left;
width:98%;
margin: 0 auto;
background-color: #3080b4;
border:0px solid #000000;
color: #ffffff;
padding: 10px 10px 10px 10px;
}

/*==================================================
 * paulund shadow effect
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index:-1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #444444;
  -moz-box-shadow: 0 15px 10px #444444;
  box-shadow: 0 15px 10px #444444;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

a:link {color:#000000; text-decoration: none;}      /* unvisited link */
a:visited {color:#000000; text-decoration: none;}  /* visited link */
a:hover {color:#3080b4; text-decoration: none;}  /* mouse over link */
a:active {color:#000000; text-decoration: none;}  /* selected link */

.navlong a:hover {color:#ffffff; text-decoration: none;}

p {color:#000040;
font-family: 'Goudy Bookletter 1911', serif;
padding: 0px 0px 0px 0px;
}

h1 {color:#000000;
font-family: 'Lato', sans-serif;
font-size: 1.4em;
font-weight: 300;
margin:5;
padding:0;
}

h5 {color:#000000;
font-family: 'Lato', sans-serif;
font-size: 1.4em;
font-weight: 900;
margin:5;
padding:0;
}

h2 {color:#000000;
font-family: 'Lato', sans-serif;
font-size: 1.4em;
font-weight: 700;
margin:5;
padding:0;
}

h3 {color:#000000;
font-family: 'Lato', sans-serif;
font-size: 1em;
font-weight: 300;
margin:5;
padding:0;
}

#title {color:#000000;
font-family: 'Lato', sans-serif;
font-size: 2em;
font-weight: 100;
margin:0;
padding:0;
}

#description {color:#000000;
font-family: 'Lato', sans-serif;
font-size: 1em;
font-weight: 300;
margin:0;
padding:0;
}

#poem {color:#000000;
font-family: 'Lato', sans-serif;
font-size: 1em;
font-weight: 300;
margin:0;
padding:0;
line-height:200%;
}

#tags {color:#000000;
font-family: 'Lato', sans-serif;
font-style: italic;
font-size: 1em;
font-weight: 300;
margin:8px 0px 0px 0px;
padding:0;
}

.navexplan p {
color:#000000;
text-shadow: 0 0 1.0em #ffffff;
font-family: 'Lato', sans-serif;
font-size: .75em;
font-weight: 700;
margin:5;
padding:0;
}
</style>